<div>
	<h1>Se connecter</h1>
	<form action="login" method="post">
		<div class="form">
			<label for="login">Email :</label>
			<input type="text" id="login" name="login">
			<label class="formDesc" for="pw">Password :</label>
			<input type="password" id="pw" name="pw">
			<input class="formButton" type="submit" value="Connexion">
		</div>
	</form>
	<div>
